@model Pesapal.StarTimes.Portal.Models.StarTimeCheckPackages

@{
    ViewData["Title"] = "Pay";
}

<h1>Pay</h1>

<h4>StarTimes Pay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
            <div class="form-group">
                <label asp-for="Service_code" class="control-label"></label>
                <input asp-for="Service_code" class="form-control" />
                <span asp-validation-for="Service_code" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
                </div>
        </form>
    </div>
</div>



