
@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

    
        <iframe src="@ViewBag.Url" name="payment" style=""width="100%" height="800px" scrolling="auto" frameborder="0"></iframe>
    

    
